<div class="menu">
    <div class="inc_menu">
        <a href="{% url 'mainapp:typeanimal' %}">Животные</a>
    </div>
    <div class="inc_menu">
        <a href="{% url 'mainapp:contact' %}">Контакты</a>
    </div>
    {% if user.is_authenticated %}
    <div class="inc_menu">
        <a href="{% url 'authapp:logout' %}">Выйти</a>
    </div>
    <div class="inc_menu">
        <a href="{% url 'authapp:change' %}">{{user.username}}</a>
    </div>
    <div class="inc_menu">
        <a href="{%url 'basketapp:basket_show'%}">{{basket.0.total_quantity}}</a>
    </div>
        {% if user.is_superuser %}
            <a href="{% url 'adminapp:show_animal' pk=0 %}">Админка</a>
        {% endif %}
    {% else %}
    <div class="inc_menu">
        <a href="{% url 'authapp:login' %}">Войти</a>
    </div>
    <div class="inc_menu">
        <a href="{% url 'authapp:register' %}">Регистрация</a>
    </div>
    {% endif %}
</div>