{% extends 'adminapp/base.html' %}

{% block content %}
    {% for animal in animals_of_type %}
{% if animal.is_active %}
        <a href="{% url 'adminapp:detail_animal' animal.pk %}">{{animal.name}}</a>
        {{animal.type}}
        {{animal.age}}
{% endif %}
    {% endfor %}
<br>
    <a href="{% url 'adminapp:delete_type' type_of_animal.pk %}">Удалить категорию</a>
<br>
<br>
    <a href="{% url 'adminapp:edit_type' type_of_animal.pk %}">Изменить категорию</a>
<br>
<br>
    <a href="{% url 'index' %}">На главную</a>
<br>
{% endblock content %}