{% extends 'mainapp/base.html' %}


{% block content %}
<div class="dop-menu">
    {% include 'mainapp/includes/inc_animal_type.html' %}
</div>
{% for animal in animal_of_type %}
<div class="card">
    {{animal.name}}
    <img class="avatar" src="{{media_url}}{{animal.avatar}}">
    {{animal.age}}
    <br>
    {{animal.short_description}}
    <button class="home-animal">
        <a href="{% url 'mainapp:person_animal' animal.pk %}">Посмотреть подробнее
        </a>
    </button>

</div>
{% endfor %}
{% endblock %}