{% extends 'mainapp/base.html' %}

{% block content %}
<div class="same-animal">
    Горячее предложение
    {{rand_animal.type}}
    {{rand_animal.name}}
</div>
{% for animal in get_same_animal_ %}
<div class="card">
    {{animal.name}}
    <img class="avatar" src="{{media_url}}{{animal.avatar}}">
    {{animal.age}} лет
    <br>
    {{animal.short_description}}
    <button class="home-animal">
        <a href="{% url 'basketapp:basket_add' animal.pk %}">Забрать домой</a>
    </button>
</div>
{%endfor%}
{% endblock %}